*, *:before, *:after {
    box-sizing: border-box;
  }
  
  img {
    max-width: 150%;
  }
  
  .container {
    overflow: hidden;
   margin-top: 3%;
  }
  .book-wrapper {
    position: relative;
    margin: 2% auto;
    width: 670px;
  }
  
  .pages-container {
      position: absolute;
      top: 4%;
      left: 0;
      right: 0;
      bottom: 4%;
      width: 100%;
      height: 100%;
  }
  
  .pages [class^="page-num-"] {
      background-color:rgb(255, 245, 247);
     background-size: 100%;
    position: relative;
  }
  
  .pages-content {
      text-align: center;
        position: absolute;
      width: 100%;
      height: 100%;
      display: table;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10%;
  }
  
  .book-wrapper {
     user-select: none;
  }
  
  .page-num-1 .pages-background {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1882231/abc%20book-Grid_Layout2.jpg);
      background-size: 100%;
      width: 100%;
      height: 46%;
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .page-num-2 .pages-background{
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1882231/abc%20book-Grid_Layout5.jpg);
      background-size: 100%;
      width: 100%;
      height: 46%;
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .page-num-3 .pages-background{
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1882231/abc%20book-Grid_Layout6.jpg);
      background-size: 100%;
      width: 100%;
      height: 46%;
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .page-num-4 .pages-background{
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1882231/abc%20book-Grid_Layout7.jpg);
      background-size: 100%;
      width: 100%;
      height: 46%;
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .page-num-5 .pages-background{
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1882231/abc%20book-Grid_Layout8.jpg);
      background-size: 100%;
      width: 100%;
      height: 46%;
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .page-num-6 .pages-background{
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1882231/abc%20book-Grid_Layout9.jpg);
      background-size: 100%;
      width: 100%;
      height: 46%;
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .page-num-7 .pages-background{
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1882231/abc%20book-Grid_Layout10.jpg);
      background-size: 100%;
      width: 100%;
      height: 46%;
      position: absolute;
      left: 0;
      top: 0;
  }
  
  pages [class^="page-num-"] {
      background-color: #ede8db!important;
      background-size: 100%;
      position: relative;
  }
  pages [class^="page-num-"] {
      background-color: #ede8db;
      background-size: 100%;
      position: relative;
  }
  