/*
  DIAGNOSTIC STYLING
*/
body {
  background: rgb(255, 245, 247);
}

li{
	list-style:none;
	margin:10px;
}
a {
	color:white;
	text-decoration:none;
	background: #fc9d9d;
	font-family: 'Lucida Sans';
	font-weight: normal;
	line-height: normal;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-variant: small-caps;
	padding: 3px;
}
.follow {
	font-family: Impact;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 200px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #1a1a1a;
}

.title-a {
  text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	line-height: 150px;
	font-size: 48px;
	letter-spacing: 0.1em;
	margin: 100px;
}
.title-b {
	font-family: Linden Hill;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 64px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
/*FOOTER*/
footer p {
  text-align: center;
	color:gray;
	font-size:20px;
}